.area1, .area2 {
    max-width: 48.5%;
    height: 218px;
    border-radius: 12px;
}

.area1 {
    background-color: #F3F4FF;
}

.area2 {
    background-color: #FFF3ED;
}

.area1-img, .area2-img {
    margin-top: 30px;
    display: flex;
}

.hero-description {
    margin-left: 40px;
}

.food-category {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.102px;
    text-align: left;
}

.food-offer1, .food-offer2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0.102px;
    text-align: left;
}

.food-offer1 {
    color: #4E60FF;
}

.food-offer2 {
    color: #FD6D22;
}

.food-nickname {
    margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1012px;
    text-align: left;
    color: #83859C;
}

@media (max-width: 575.98px) {
    .area1, .area2 {
        width: 100%;
        height: auto;
        margin-bottom: 40px !important;
    }
    
    .area1-img , .area2-img{
        display: flex;
        flex-direction: column-reverse;     
    }
}
